<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<H1> Routing and Navigation</H1>
<nav>
    <a routerLink = "/departments" routerLinkActive = "active">Departments</a>
    &nbsp;&nbsp;
    <a routerLink ="/employees" routerLinkActive = "active">Employees</a>
</nav>
<!--<app-employee-list [parentData="name"]> </app-employee-list>-->
<router-outlet></router-outlet>
<!-- Routed Views below in this section-->
